.navbar{
    height: 100px;

    .wrapper{
        height: 100%;
        max-width: 1366px;
        margin: auto;
        padding-left: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span{
            font-weight: bold;
        }

        .social{
            display: flex;
            gap: 20px;

            img{
                height: 40px;
                width: 40px;
            }

            img:hover{
                transform: scale(1.1);
            }
        }
    }
}